PORT=41015
HOST=127.0.0.1
STUDENT_NAME=Andrew Rivera
PUBLIC_API_URL=https://bender.cs.csubak.edu/rivera

DB_HOST=127.0.0.1
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name 